@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UPC_DropDown.Models.LoginModel

@{
    Layout = "_LoginLayout";
}

<style>

  
    h1 {
        color: ghostwhite;
        margin-bottom: 40px;
        text-align: center;
    }


    .form-control {
        border-radius: 30px;
        padding: 15px 20px;
        font-size: 1rem;
        margin-bottom: 20px;
        border: 2px solid #e0e0e0;
        transition: border-color 0.3s;
    }

        .form-control:focus {
            border-color: #6a11cb;
            box-shadow: none;
        }


    .btn-custom {
        background-color: #6a11cb;
        border: none;
        color: white;
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 30px;
        width: 100%;
        transition: background-color 0.3s;
    }

        .btn-custom:hover {
            background-color: #2575fc;
            color: white;
        }

</style>

<div class="logo-container">
    <img src="~/css/logo.png"> <!-- Replace with your logo path -->
</div>
<div class="login-wrapper">
    <h1 style="color:white; margin-bottom:10%">Login</h1>
    <div asp-validation-summary="ModelOnly" class="errorMsg mb-4"></div>
    <form asp-action="SubmitLogin" asp-controller="Account" method="post">
        <div class="form-group">
            <input asp-for="UserName" class="form-control" placeholder="Username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="UserPassword" class="form-control" type="password" placeholder="Password" />
            <span asp-validation-for="UserPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-custom">Login</button>
        </div>
        <div class="register-link">
            <p style="color:whitesmoke">Don't have an account? <a href="@Url.Action("RegisterForm", "Account")">Register</a></p>
        </div>
    </form>
</div>
